---
layout: default
---

<div class="cover w-100 dt vh-75 tc" style="background-image: url({{page.cover_image}});">
  <div class="hero w-100 dtc v-mid pv5">
    <div class="container w-100 w-50-l tc pa3">
      <h1 class="f2 white ttu mv5 b">{{page.cover_slogan_1}}</h1>
      <h2 class="f3 white ttu mv5">{{page.cover_slogan_2}}</h2>
    </div>
  </div>
</div>

<div class="container">

<div class="w-100 w-80-ns w-60-l tc mv5 ph4 ml-auto mr-auto">

{{page.intro_text | markdownify}}

</div>

<div class="banner w-100 ph3 flex flex-wrap justify-center">
  {% for item in page.intro_images %}
  <div class="tc pa3 dn db-l">
    <img src="{{item.intro_image}}" alt="{{item.intro_image_title}}"/>
  </div>
  {% endfor %}
</div>


  <h2 class="f1 w-100 tc mv5">OUR SERVICES</h2>
  <hr class="w-20 w-10-l ba blue bw1">

</div> <!-- end container -->

  <div class="services w-100 flex flex-wrap tc pa4">
    {% for item in page.intro_services %}
    <div class="w-100 w-33-l mv3 ph3">
      <i class="fas fa-{{item.intro_services_icon}} w-100 db pv4"></i>
      <span class="db f3 pv3 ph2">{{item.intro_services_title}}</span>
      <p class="gray f5">{{item.intro_services_text}}</p>
    </div>
    {% endfor %}
  </div>

<div class="container">

</div> <!-- end container -->
