---
layout: default
---

<div class="cover w-100 dt vh-75 tc" style="background-image: url({{page.cover_image}});">
  <div class="hero w-100 dtc v-mid pv5">
    <div class="container w-100 w-50-l tc pa3">
      <h1 class="f2 white ttu mv5 b">{{page.cover_slogan_1}}</h1>
      <h2 class="f3 white ttu mv5">{{page.cover_slogan_2}}</h2>
    </div>
  </div>
</div>

<div class="container">

<div class="w-100 w-80-ns w-60-l tc mv5 ph4 ml-auto mr-auto">

    <h3>Expertise in business solutions, technology integration, and talent management.</h3>
    <p>We opened our doors in 2006, co-founded by David
    Acco and Julie Lepage. Our history of efficient delivery and
    satisfied clients has given us a solid foundation, on
    which we’ve built a reputation for creative and
    progressive solutions catering to nearly every major industry.<br/><br/>
    While we wish to be recognized on the strength of our expertise and consistent delivery, we are also
proud to be an Aboriginal company.</p>

</div>

<div class="banner w-100 ph3 flex flex-wrap justify-center">
  <div class="tc pa3 dn db-l">
    <img src="/img/camsc.jpg"/>
  </div>
  <div class="tc pa3 dn db-l">
    <img src="/img/toronto-board-award-2012.png"/>
  </div>
  <div class="tc pa3 dn db-l">
    <img src="/img/ccab.png"/>
  </div>
</div>


  <h2 class="f1 w-100 tc mv5">OUR SERVICES</h2>
  <hr class="w-20 w-10-l ba blue bw1 mv3">

</div> <!-- end container -->

  <div class="services w-100 flex flex-wrap tc pa4">

    <div class="w-100 w-33-l mv3 ph3">
      <i class="fas fa-lightbulb w-100 db pv4"></i>
      <span class="db f3 pv3 ph2">BUSINESS SOLUTIONS</span>
      <p class="gray f5">Effective management demands continuous improvement, especially
in today's business world, where change is constant. You may need unique expertise: that’s
what we’re here for.</p>
    </div>
    <div class="w-100 w-33-l mv3 ph3">
      <i class="fas fa-cog w-100 db pv4"></i>
      <span class="db f3 pv3 ph2">TECHNOLOGY INTEGRATION</span>
      <p class="gray f5">You need the best infrastructure you can get. When it comes to a
tight delivery, so much can depend on a seamless, up-to-date combination of software and
hardware that responds directly to your needs.</p>
    </div>
    <div class="w-100 w-33-l mv3 ph3">
      <i class="fas fa-handshake w-100 db pv4"></i>
      <span class="db f3 pv3 ph2">TALENT MANAGEMENT</span>
      <p class="gray f5 tc">We help our clients from recruitment, to retention, to policy advice.
We also help both their business units and recruiters engage resources, and help the
candidates ready themselves for the client’s business.</p>
    </div>

  </div>

<div class="container">

</div> <!-- end container -->
